{% extends "layout.html" %}
{% set active_page = "index" %}
{% set page_name = "Browse Sequences" %}
{% block title %}{{ page_name }}{% endblock %}


{% set labels = [LabelName.Trigger, LabelName.Indicator] %}
{% set wmn_options = [
    WMN.NON,
    WMN.DIN,
    WMN.Other,
    WMN.SIMN,
    WMN.Other_Clar_Req,
    WMN.No_Trigger,
    WMN.Non_Pursued,
    WMN.Impossible,
    WMN.Reference_NE
] %}
{% set context_labels = [Context.Spoken, Context.Online] %}

{% block content %}
<div id="browse-content">
<form id="filter-form" action="./" method="GET" enctype="multipart/form-data">
    <h3>Filter Options</h3>

    <div>
        {% if "mode" in get_data.keys() %}
            {% set mode_checked = "checked" %}
        {% endif %}
        <label class="switch">
            <input id ="mode" type="checkbox" name="mode" value="compact" class="auto-submit" {{mode_checked}}>
            <span class="slider round"></span>
        </label>
        <label for="mode">Compact view</label>
    </div>
    <div>
        {% if "search" in get_data.keys() %}
        {% set search_term = get_data['search'] %}
        {% endif %}
        <input type="text" id="search" name="search" value="{{search_term}}">
        <label for="search">Search in annotated text</label>
    </div>
    <hr>
    <div class="auto-grid three">
        <div>
            <select id="label-name" name="label-name" class="auto-submit">
                <option value="">--no selection--</option>
                {% for label in labels %}
                    {% if "label-name" in get_data.keys() and get_data['label-name'] == label.name %}
                        {% set label_selected = "selected" %}
                    {% endif %}
                    <option class="{{label.name}}" value="{{label.name}}" {{label_selected}}>{{label.value}}</option>
                {% endfor %}
            </select>
            <label for="label-name">Part of sequence</label>
        </div>
        <div>
            <select id="context" name="context" class="auto-submit">
                <option value="">--no selection--</option>
                {% for context in context_labels %}
                    {% if "context" in get_data.keys() and get_data['context'] == context.name %}
                        {% set context_selected = "selected" %}
                    {% endif %}
                    <option value="{{context.name}}" {{context_selected}}>{{context.value}}</option>
                {% endfor %}
            </select>
            <label for="label-name">Interaction type</label>
            <!-- <input type="submit" value="Show Sequences"> -->
        </div>
    </div>
    <hr>
    <div>Type of sequence:</div>
    <div class="auto-grid three">
        {% set index = namespace(value = 0) %}
        {% for wmn in wmn_options %}
            {% if index.value % 3 == 0 %}<div>{% endif %}
                <input
                    type="checkbox" {{wmn_selected}}
                    class="auto-submit"
                    id="{{wmn}}"
                    value="{{wmn.name}}"
                    name="{{wmn.name}}"
            {% if wmn.name in get_data.keys() and get_data[wmn.name] == wmn.name %}
                    checked
            {% endif %}
                >
                <label for="{{wmn.name}}">{{wmn.value}}</label>
                <br>
            {% if index.value % 3 == 2 %}</div>{% endif %}
            {% set index.value = index.value + 1 %}
        {% endfor %}
    </div>
    <hr>
    <div class="result-text">
        {% if num_results == 0 %}
            No results
        {% else %}
            Showing {{num_results}} results:
        {% endif %}
    </div>
</form>

{% if summaries %}
    {% for summary in summaries %}
        {% set labelname = summary.labeldata.labelname %}
        {% if summary.label_count > 1 %}
            {% set label_count = '<bold>(' | safe + summary.label_count | string  + ')</bold>' | safe %}
        {% endif %}
        {% if "mode" in get_data.keys() %}
            <div class="compact-summary">
                <table>
                    <tr>
                        <td class="compact-header"><b>{{labelname.value}}:</b></td>
                        <td>
                            <a class="{{labelname.name}}" href="{{url_for('sequence_page', wmn_id=summary.wmn_id)}}">
                            {{summary.annotated_utterance.labeled_text | safe}}
                            </a>
                            {{label_count}}
                        </td>
                    </tr>
                </table>
            </div>
        {% else %}
        <div class="summary">
            <p><b>Label:</b> {{labelname.value}}</p>
            {% if labelname == LabelName.Trigger %}
                {% set excerpt_descriptor = 'Trigger word' %}
            {% elif labelname == LabelName.Indicator %}
                {% set excerpt_descriptor = 'Indicator phrase' %}
            {% endif %}
            <p>
                <b>{{excerpt_descriptor}}:</b>
                <span class="{{labelname.name}}">
                    {{summary.annotated_utterance.labeled_text | safe}}</span>
                {{label_count}}
            </p>
            <p><b>Context:</b> {{summary.context.value}}</p>
            <p><b>WMN:</b> {{ summary.wmn.value }}</p></p>
            <p><b>WMN Meaning:</b> {{ summary.wmn_meaning.value }}</p></p>
            <p><b>Excerpt:</b>
                {{summary.annotated_utterance.text_before | safe}}
                <span class="{{labelname.name}}">{{summary.annotated_utterance.labeled_text | safe}}</span>
                {{summary.annotated_utterance.text_after | safe}}
            </p>
            <p><a href="{{url_for('sequence_page', wmn_id=summary.wmn_id)}}">View entire sequence</a></p>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("filter-form");

        // Select all inputs with class 'auto-submit'
        document.querySelectorAll(".auto-submit").forEach(input => {
            input.addEventListener("change", function () {
                form.submit();
            });
        });
    });
    // function clickFn(event) {
    //     /*const checkbox = event.currentTarget;*/
    //     /*checkbox.value = checkbox.checked ? 'compact' : 'normal';*/
    //     event.currentTarget.closest('form').submit()
    // }
</script>

{% endblock %}
