{% extends "layout.jinja" %}
{% set active_page = "index" %}
{% set page_name = "Browse Sequences" %}
{% block title %}{{ page_name }}{% endblock %}

{% block content %}

<div id="browse-content">
    {% include 'index/filter_form.jinja' %}

    {% if "mode" in get_data.keys() %}
        {% set compact = "_compact" %}
    {% endif %}

    {% if summaries %}
        {% for summary in summaries %}
            {% if "group-by" in get_data.keys() and get_data['group-by'] == GroupBy.LABEL.name %}
                {% include 'index/summary/by_label' ~ compact ~ '.jinja' %}
            {% elif "group-by" in get_data.keys() and get_data['group-by'] == GroupBy.SEQUENCE.name %}
                {% include 'index/summary/by_sequence' ~ compact ~ '.jinja' %}
            {% else %}
                {% include 'index/summary/by_dialogue' ~ compact ~ '.jinja' %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("filter-form");

    // Select all inputs with class 'auto-submit'
    document.querySelectorAll(".auto-submit").forEach(input => {
        input.addEventListener("change", function () {
            form.submit();
        });
    });
});
</script>

{% endblock %}
