<div class="compact-summary">
    <div class="tag">
        <a
            class="no-decorate"
            href="{{url_for('label_page', excerpt=summary.excerpt)}}"
        >
            <span class="{{summary.label_type.value}}">
                {{summary.excerpt}}
            </span>
        </a>
        {% if summary.count > 1 %}
        ({{summary.count}})
        {% endif %}
    </div>
    <div class="tag">
        {% for diag_id in summary.dialogue_ids %}
        <a class="no-decorate" href="{{url_for('dialogue_page', dialogue_id=diag_id)}}">
            <span class="tag diag-id">
                {{diag_id}}
            </span>
        </a>
        {% endfor %}
    </div>
    <div class="tag">
        {% for wmn_id, diag_id in summary.sequence_ids.items() %}
        <a class="no-decorate" href="{{url_for('sequence_page', dialogue_id=diag_id, wmn_id=wmn_id)}}">
            <span class="tag wmn-id">
                {{wmn_id}}
            </span>
        </a>
        {% endfor %}
    </div>
</div>
