
<div class="compact-summary">
    <div class="tag">
        {# <b>WMN:</b> #}
        <a class="no-decorate" href="{{url_for('sequence_page', dialogue_id=summary.dialogue_id, wmn_id=summary.wmn_id)}}">
            <span class="wmn-id">
                {{summary.wmn_id}}
            </span>
        </a>
    </div>
    <div class="tag">
        {# <b>Diag:</b> #}
        <a class="no-decorate" href="{{url_for('dialogue_page', dialogue_id=summary.dialogue_id)}}">
            <span class="diag-id">
                {{summary.dialogue_id}}
            </span>
        </a>
    </div>
    {# <b>Labels:</b> #}
    {% for label, count in summary.triggers.items() %}
        <div class="tag">
            <div class="{{LabelName.TRIGGER.value}} summary-label">
                {{label|safe}}
                {% if count > 1 %}
                    <span class="count">({{count}})</span>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% for label, count in summary.indicators.items() %}
        <div class="tag">
            <div class="{{LabelName.INDICATOR.value}} summary-label">
                {{label | safe}}
            </div>
        </div>
    {% endfor %}
</div>

