{% extends "layout.jinja" %}
{% set active_page = "index" %}
{% set page_name = "Browse Sequences" %}
{% block title %}{{ page_name }}{% endblock %}

{% import 'includes/messages.jinja' as messages%}

{% block content %}

<div id="dialogue-content">
    <section>
        <h2 class="top-heading">
            Dialogue ID:
            <span class="diag-id">
                {{dialogue_metadata.dialogue_id}}
            </span>
        </h2>

        <div class="info-line">
            <b>Corpus:</b>
            {{dialogue_metadata.corpus_metadata.fullname}}
        </div>

        <div class="info-line">
            <b>URL:</b>
            <a href="{{dialogue_metadata.corpus_metadata.url}}">
                {{dialogue_metadata.corpus_metadata.url}}
            </a>
        </div>

        <div class="info-line">
            <b>License:</b>
            <a href="{{dialogue_metadata.corpus_metadata.license_url}}">
                {{dialogue_metadata.corpus_metadata.license_url}}
            </a>
        </div>

        <div class="info-line">
            <b>WMN Sequences ({{dialogue_metadata.wmn_sequences | length}}):</b>
            {% for sequence in dialogue_metadata.wmn_sequences %}
            <div class="list-item">
                <a class="no-decorate" href="{{url_for('sequence_page', dialogue_id=dialogue_metadata.dialogue_id, wmn_id=sequence.wmn_id)}}">
                    <span class="indented wmn-id">
                        {{sequence.wmn_id}}
                    </span>
                </a>
            </div>
            {% endfor %}
        </div>

    </section>

    <div class="section-header">
        <span>Word meaning negotiation sequences:</span>
    </div>

    <div>
        <a class="click-me" onclick="expandAllDetails()">Expand All</a>
        <a class="click-me" onclick="collapseAllDetails()">Collapse All</a>
    </div>

    {% for sequence in dialogue_metadata.wmn_sequences %}
        <section>
            <div class="info-line">
                <b>WMN ID:</b>
                <a class="no-decorate" href="{{url_for('sequence_page', dialogue_id=dialogue_metadata.dialogue_id, wmn_id=sequence.wmn_id)}}">
                    <span class="wmn-id">
                        {{sequence.wmn_id}}
                    </span>
                </a>
            </div>

            <div class="info-line">
                <b>Context:</b>
                {{sequence.context.value}}
            </div>

            <div class="info-line">
                <b>WMN Type:</b>
                {{sequence.wmn_type.value}}
            </div>
            <div class="info-line">
                <b>WMN Meaning:</b>
                {{sequence.wmn_meaning.value}}
            </div>

            {% if sequence.triggers %}
            <details>
                <summary class="pointer">Trigger words ({{sequence.triggers | length}})</summary>
                {% for excerpt, count in sequence.triggers.items() %}
                    {% if count > 1 %}
                        {% set amount = "(" ~ count ~ " times)" %}
                    {% endif %}
                    <div class="list-item">
                        <span class="Trigger">{{excerpt}}</span>
                        <span class="count">{{amount}}</span>
                    </div>
                {% endfor %}
            </details>
            {% endif %}

            {% if sequence.indicators %}
            <details>
                <summary class="pointer">Indicator sentences ({{sequence.indicators | length}})</summary>
                {% for excerpt, count in sequence.indicators.items() %}
                    <div class="list-item">
                    {% if count > 1 %}
                        {% set amount = "(" ~ count ~ ") times" %}
                    {% endif %}
                        <span class="Indicator">{{excerpt}}</span>
                        <span class="count">{{amount}}</span>
                    </div>
                {% endfor %}
            </details>
            {% endif %}

            {% if sequence.negotiations %}
            <details>
                <summary class="pointer">Negotiation parts ({{sequence.negotiations | length}})</summary>
                {% for excerpt, count in sequence.negotiations.items() %}
                    {% if count > 1 %}
                        {% set amount = "(" ~ count ~ ") times" %}
                    {% endif %}
                    <div class="list-item">
                        <span class="Negotiation">{{excerpt}}</span>
                        <span class="count">{{amount}}</span>
                    </div>
                {% endfor %}
            </details>
            {% endif %}
            <div class="info-line">
                <a href="{{url_for('sequence_page', dialogue_id=dialogue_metadata.dialogue_id, wmn_id=sequence.wmn_id)}}">
                    See entire sequence
                </a>
            </div>

        </section>
    {% endfor %}


</div>


<script>
function expandAllDetails() {
  document.querySelectorAll("details").forEach(detail => {
    detail.open = true;
  });
}

function collapseAllDetails() {
  document.querySelectorAll("details").forEach(detail => {
    detail.open = false;
  });
}
</script>

{% endblock %}
